<nav id="sidebar">
  <div class="sidebar-header">
    <span class="logo">KODERS</span>
  </div>

  <ul class="list-unstyled components">
    <span class="classify">Data Index</span>
    <li class="active">
      <a href="#">Main</a>
    </li>
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Demographs</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="#">Demograph 1</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Social</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Preferences</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><a href="#">Config 1</a></li>
        <li><a href="#">Config 2</a></li>
      </ul>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li><a href="#" class="signout">sign out</a></li>
  </ul>
</nav>