<nav id="sidebar">
  <div class="sidebar-header">
    <span class="logo">KODERS</span>
  </div>

  <ul class="list-unstyled components">
    <li class="active col-md">
      <div class="section">
        <span class="title" style="margin-left: 10px">Overview</span>
      </div>
      <div class="info-overview">
        <div class="section">
          <span class="heading">Total Tweets:</span>
          <span id="tweet-counter">0</span>
        </div>
        <div class="section">
            <span class="title">Ratio</span>
          </div>
        <div class="section">
          <div class="progress">
            <div class="progress-bar bar-positive positive" role="progressbar" >

            </div>
          </div>
        </div>
        <div class="section">
          <div class="progress">
            <div class="progress-bar bar-neutral neutral" role="progressbar" >

            </div>
          </div>
        </div>
        <div class="section">
          <div class="progress">
            <div class="progress-bar bar-negative negative" role="progressbar" >

            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="active col-lg">
      <a href="/"><span class="title">Tweet</span></a>
      <div class="info-overview">
        <div class="user-msg">
          <p>Select a tweet!</p>
        </div>
        <div class="section tweet-wrapper">
          <span class="tweet"></span>
        </div>
        <div class="section">
          <span class="title">EMOTION</span>
        </div>
        <div class="section">
          <span class="heading">Value:</span>
          <div class="emotion-wrapper">
            <div class="progress-bar bar-positive positive emotion" role="progressbar" >
              <span class="sentiment-value"></span>
            </div>
          </div>
        </div>
      
        <div class="section">
          <span class="heading">Sentiment:</span>
          <span class="sentiment"></span>
        </div>
        <div class="section">
        </div>
      </div>
    </li>
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true">Preferences</a>
      <ul class="list-unstyled col-md" id="homeSubmenu">
        <div class="info-overview">
          <div class="section">
            <span class="title">Filters</span>
          </div>
          <div class="section">
            <button class="btn positive-btn">POSITIVE</button>
          </div>
          <div class="section">
            <button class="btn neutral-btn">NEUTRAL</button>
          </div>
          <div class="section">
            <button class="btn negative-btn">NEGATIVE</button>
          </div>
          <div class="section">
            <button class="btn all-btn">ALL</button>
          </div>
        </div>
      </ul>
    </li>
    {{!--
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Demographs</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><a href="#">Demograph 1</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Social</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Preferences</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li><a href="#">Config 1</a></li>
        <li><a href="#">Config 2</a></li>
      </ul>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li><a href="#" class="signout">sign out</a></li>
  </ul>--}}
</nav>