<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css'>



</head>

<body>

  <div class="wrapper">
    {{> sidebar }}
    <div id="content">
      {{> header}}

    </div>
  </div>
  {{{body}}}
</body>
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>


<script type="text/javascript" src="/vendor/threejs/three.js"></script>

<script type="text/javascript" src="/vendor/threejs/TrackBallControls.js"></script>
<script type="text/javascript" src="/vendor/threejs/stats.js"></script>
<script type="text/javascript" src="/vendor/threejs/CSS3DRenderer.js"></script>
<script type="text/javascript" src="/vendor/threejs/CanvasRenderer.js"></script>

<script type="text/javascript" src="/vendor/threejs/tween.min.js"></script>

<script type="x-shader/x-vertex" id="vertexshader">
			attribute float size;
      attribute float opacity;
			attribute vec3 customColor;
			varying vec3 vColor;
      varying float vOpacity;

			void main() {
				vColor = customColor;
        vOpacity = opacity;

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
				gl_PointSize = size * ( 300.0 / -mvPosition.z );
				gl_Position = projectionMatrix * mvPosition;
			}
</script>

<script type="x-shader/x-fragment" id="fragmentshader">
			uniform vec3 color;
			uniform sampler2D texture;
			varying vec3 vColor;
      varying float vOpacity;

			void main() {
				gl_FragColor = vec4( color * vColor, vOpacity );
				gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
				if ( gl_FragColor.a < ALPHATEST ) discard;
			}
</script>

<script src="/js/threeGeoJSON.js"></script>
<script src="/js/visual.js"></script>
<script src="/js/sentiment.js"></script>
<script src="/js/visualmap.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
</script>

</html>