<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-big">
			<div id="sentiment-container"></div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-big">
			<div id="visualmap-container"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6">
		<div class="panel-selection panel">
			<div class="row">
				<div class="col-xs-6">
					<div class="total-tweet-wrap">
						<span class="total-tweets" id="tweet-counter">0</span>
						<span class="sub-title">Tweets</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="over-emotion-wrap">
						<div class="emotion-wrap">
							<div class="section">
								<div class="progress">
									<div class="progress-bar bar-positive-dash positive" role="progressbar">
										<span class="data">
											0
										</span>
									</div>
								</div>
							</div>
							<div class="section">
								<div class="progress">
									<div class="progress-bar bar-neutral-dash neutral" role="progressbar">
										<span class="data">
											0
										</span>
									</div>
								</div>
							</div>
							<div class="section">
								<div class="progress">
									<div class="progress-bar bar-negative-dash negative" role="progressbar">
										<span class="data">
											0
										</span>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6">
		<div class="panel-selection panel">
			<div class="info-overview">
				<div class="section">
					<button class="btn positive-btn">POSITIVE</button>
				</div>
				<div class="section">
					<button class="btn neutral-btn">NEUTRAL</button>
				</div>
				<div class="section">
					<button class="btn negative-btn">NEGATIVE</button>
				</div>
				<div class="section">
					<button class="btn all-btn">ALL</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6">
		<div class="panel-selection panel">
			<div class="row">
				<div class="col-xs-12">
					<div class="total-tweet-wrap">
						<span class="total-tweets" id="tweet-counter">10</span>
						<span class="sub-title">PEOPLE</span>
					</div>
				</div>
				<div class="col-xs-6">
					
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-3 col-xs-6">
		<div class="panel-selection panel">
			<div class="row">
				<div class="col-xs-6">
					<div class="total-tweet-wrap">
						<span class="total-tweets" id="">0</span>
						<span class="sub-title">IN</span>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="total-tweet-wrap">
						<span class="total-tweets" id="">0</span>
						<span class="sub-title">OUT</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="panel panel-big">
			<div class="data-wrapper">

				<div class="heading">
					<span class="rank">Rank</span>
					<span class="tweet">TWEET</span>
				</div>

				<div class="data-body">
					<div class="list">	
						<span class="rank">Hello</span>
						<span class="tweet">hsaldhals</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="panel panel-big">

		</div>
	</div>

</div>