<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/vendor/leaflet/leaflet.css' />
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/vendor/leaflet/leaflet.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>

  <script>
  

  </script>
</html>
